@model EditModuleViewModel

@{
    ViewBag.Title = "Update Module";
    Layout = "_Layout";
}

<h2>Add a new module</h2>
@if (string.IsNullOrEmpty(Model.ModuleName))
{
    <h3>Data</h3>
    using (Html.BeginForm("Add", "Module", FormMethod.Post))
    {
     <table>
         <tr>
             <td>Name</td>
             <td>@Html.TextBoxFor(x => x.ModuleName)</td>
         </tr>
         <tr>
             <td>Ip</td>
             <td>@Html.TextBoxFor(x => x.Ip)</td>
         </tr>
         <tr>
             <td>
                 <button type="submit">Save</button>
             </td>
         </tr>
     </table>
    }
}