@model DetailModuleViewModel

@{
    ViewBag.Title = "Module Details";
    Layout = "_Layout";
}

<h2>Module Details</h2>

<table>
    <tr>
        <td>
            @Html.Label("Feature")
        </td>
        <td>
            @Html.Label("Value")
        </td>
    </tr>
    @foreach (var value in Model.Values)
    {
        <tr>
            <td>
                @Html.ActionLink(value.FeatureName, "Log", new
                {
                    moduleId = Model.Id,
                    featureId = value.FeatureId
                })
            </td>
            <td>
                <label>@value.LastValue</label>
            </td>
        </tr>
    }
</table>